header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase; /* Transforma o texto em maiusculo */
	color: #000000; /* Cor do texto */
	font-weight: bold; /* Fonte do texto em negrito */
	font-size: 22px; /* Tamanho da fonte do texto */
	text-decoration: none; /*(text-decoration: Nenhuma decoração) Remove a decoração padrao (Sublinhamento) */	
}

nav a:hover { /* Quando o mouse estiver em cima do link do A do menu de Navegação */ 
	color: blue; /* A cor do elemento quando o mouse estiver sobre */ 
	text-decoration: underline; /*(text-decoration: underline) Insere decoração (Sublinhamento) */
}

.produtos {	
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{ 
	border-color: blue;

}

.produtos li:active{ /* Quando o mouse clicar em cima do link do li do menu de Produtos */ 
	border-color: crimson;
}

.produtos li:hover h2 {
	font: ;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;

}

.produto-preco {
	font: 22px;
	font-weight: bold;
	margin-top: 10px;
}

