body{

}
#banner{
    width: 100%;
}
.principal{
    background: aliceblue;
    padding: 30px;

}
.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado{
    text-align: center;
}
p{
    text-align: center;
}
#missao{
    font-size: 20px
}
em strong{
    color: red;
}
.itens{
    font-style: italic
}
.beneficios{
    background: #FFFFFF;
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgbeneficios{
    width: 50%
}

footer {
	text-align: center; /* Alinhamento do texto: center = Centralizado */
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}